
@{
                /**/

                ViewBag.Title = "Outward Check Status ";
}
<style>
    #container {
        width: 100%;
        float: right;
        margin-right: -270px;
    }

    #content {
        height: 500px;
        overflow-x: scroll;
    }

    #sidebar {
        width: 270px;
        float: left;
    }

    .modalTr td, tr {
        padding: 4px
    }

    .table-hover td {
        font-size: small;
    }

    .table-hover th {
        border: 1px thin;
        border-radius: 5px;
        border-spacing: 0;
    }

    .table tbody tr:hover td, .table tbody tr:hover th {
        background-color: lawngreen;
    }

    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
        text-align: center;
    }
</style>
<h2>Index</h2>
<div ng-app="testApp">
    <form name="myFormDash" id="myFormDash" class="form" ng-controller="outwardCheckSummary" ng-app="indexApp">
        <div class="header">
            <h1>Outward Check Status Summary</h1>
            <p><i>&nbsp; Displays the count, summary and details of outward checks with their status.</i></p>
        </div>
        <div id="sidebar">
            <table>
                <tr>
                    <td style="overflow: hidden; width: 280px; text-align: left; padding: 5px"><button id="" name="" class="btn btn-danger" ng-click="btnDateRefresh()" style="font-size:small; text-align:center; background-color:lawngreen; width:100%">UPDATED as of {{dateRefresh}}</button></td>
                </tr>
                <tr align="center" ng-repeat="x in display">
                    <td style="overflow: hidden; width: 280px; text-align: left; padding: 5px">
                        <button id="" name="" class="btn btn-info" ng-click="btnViewSummaryClick(x)" ng-style="{'background-color': colors[$index]}" style="width:100%;">{{ x.summary }}</button>
                    </td>
                </tr>
            </table>
        </div>

        <div id="container" ng-show="IsVisible">
            <div id="content" style="border:thin">
                <table class="table table-hover" border="0" style="border-width:thin; ">
                    <thead id="tableHeader">
                        <tr style="background-color:cornflowerblue; ">
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">#</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">BUSINESS<br />DATE</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">AMOUNT</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">ACCOUNT</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">SCANNED<br />BRSTN</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">SERIAL<br />NUMBER</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">BOFD_RT</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">BRANCH<br />NAME</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">BOFD<br />ACC</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">ICL<br />FILENAME</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">SCANNED<br />TIME</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">SCANNED<br />BY</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">AMOUNT<br />KEYING<br />TIME</th>
                            <th style="font-size:smaller; text-align:center; color:whitesmoke">ACCOUNT NO.<br />KEYING<br />TIME</th>

                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <tr align="center" ng-repeat="x in summaryDetails" track by $index ng-click="rowSummaryClick(x)">
                            <td align="left">{{ $index +1 }}</td>
                            <td align="left" hidden>ID{{ x.INSTRUMENT_ID }}</td>
                            <td>{{ x.BUSINESS_DATE }}</td>
                            <td>{{ x.AMOUNT }}</td>
                            <td>{{ x.ACCOUNT }}</td>
                            <td>{{ x.BRSTN }}</td>
                            <td>{{ x.SERIAL_NUMBER }}</td>
                            <td>{{ x.BOFD_RT }}</td>
                            <td>{{ x.BRANCH_NAME }}</td>
                            <td>{{ x.BOFD_ACC }}</td>
                            <td>{{ x.ICL_FILENAME }}</td>
                            <td>{{ x.SCANNED_TIME }}</td>
                            <td>{{ x.SCANNED_BY }}</td>
                            <td>{{ x.AMOUNT_KEYING_TIME }}</td>
                            <td>{{ x.ACCOUNT_NO_KEYING_TIME }}</td>
                        </tr>
                    </tbody>
                </table>

                <div ng-show="IsVisible">
                    <button ng-disabled="currentPage == 0"
                            ng-click="nextPage(-1)">
                        <!-- ng-click="nextPage()" |  ng-click="currentPage=currentPage+1">  -->
                        <!-- nextPage() function create to display values-->
                        Previous
                    </button>

                    Page {{currentPage+1}} of {{numberOfPages()}}

                    <button ng-disabled="currentPage >= totalLength/pageSize - 1"
                            ng-click="nextPage(1)">
                        <!-- ng-click="nextPage()" |  ng-click="currentPage=currentPage+1">  -->
                        <!-- nextPage() function create to display values-->
                        Next
                    </button>


                </div>
            </div>
        </div>
        @*<div style="background-color:whitesmoke">*@
        <div class="modal alert-dismissable" id="bulkTableInfoModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-header">
                    DETAILS OUTWARD CHECK SUMMARY
                </div>
                <div class="container-fluid text-left" style="background-color:whitesmoke;font-size:smaller" name="div1">
                    <div class="cell" id="iavwai" name="iavwai" ng-disabled="true">
                        <table border="0" ng-model="modalModel" id="modalTable" cellpadding="10" class="modalTr">
                            <tr>
                                <td>BUSINESS DATE: </td>
                                <td><input type="text" name="busDate" id="busDate" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                                <td>AMOUNT </td>
                                <td><input type="text" name="amt" id="amt" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                            </tr>
                            <tr>
                                <td>ACCOUNT </td>
                                <td><input type="text" name="account" id="account" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                                <td>SCANNED BRSTN </td>
                                <td><input type="text" name="scannedBrstn" id="scannedBrstn" class="form-control ng-pristine ng-valid ng-empty ng-touched" />  </td>
                            </tr>
                            <tr>
                                <td>SERIAL NUMBER </td>
                                <td><input type="text" name="serialNumber" id="serialNumber" class="form-control ng-pristine ng-valid ng-empty ng-touched" />  </td>
                                <td>BOFD_RT </td>
                                <td><input type="text" name="bofd_rt" id="bofd_rt" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                            </tr>
                            <tr>
                                <td>BRANCH NAME </td>
                                <td><input type="text" name="branchName" id="branchName" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                                <td>BOFD_ACC </td>
                                <td><input type="text" name="bofd_acc" id="bofd_acc" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                            </tr>
                            <tr>
                                <td>ICL FILENAME </td>
                                <td><input type="text" name="iclFileName" id="iclFileName" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                                <td>SCANNED TIME </td>
                                <td><input type="text" name="scannedTime" id="scannedTime" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                            </tr>
                            <tr>
                                <td>SCANNED BY </td>
                                <td><input type="text" name="scannedBy" id="scannedBy" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                                <td>AMOUNT KEYING TIME </td>
                                <td><input type="text" name="amtKeyingTime" id="amtKeyingTime" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                            </tr>
                            <tr>
                                <td>ACCOUNT NO KEYING_TIME </td>
                                <td><input type="text" name="accountNoKeyingTime" id="accountNoKeyingTime" class="form-control ng-pristine ng-valid ng-empty ng-touched" /> </td>
                                <td></td>
                                <td align="right">
                                    <button id="btnCloseModal" name="btnCloseModal" class="btn btn-danger" ng-click="btnCloseModal()">Close</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        @*   </div>*@

        <div id="loading">
            <img id="loading-image" src="~/Content/loading.gif" alt="Loading..." />
        </div>
        <table id="tblSummaryHidden" name="tblSummaryHidden" ng-model="tblSummaryHidden" class="table table-hover" border="0" style="border-width:thin; max-width: inherit" hidden>
            <thead id="tableHeader">
                <tr style="background-color:cornflowerblue; ">
                    @*<th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">#</th>*@
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">MODULE</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">BUSINESS DATE</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">BATCH ID</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">CHECK NUMBER</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">AMOUNT</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">SCAN ACCOUNT NO.</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">SCAN BRSTN</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">SCAN BY</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">SCAN TIME</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">AMOUNT KEYING/PDC PROCESSING USER</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">AMOUNT KEYING/PDC PROCESSING TIME</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">ACCOUNT NO. KEYING USER</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">ACCOUNT NO. KEYING TIME</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">PDC VERIFICATION USER</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">PDC VERIFICATION TIME</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">PDC ALLOW/HOLD USER</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">PDC ALLOW/HOLD TIME</th>
                    <th style="font-size:smaller; text-align:center; color:whitesmoke;background-color:cornflowerblue;">BRANCH NAME</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr align="center" ng-repeat="x in loansummaryDetails | orderBy: 'BATCH_ID'">
                    @*<td align="left">{{ $index +1 }}</td>
                        <td align="left">ID{{ x.INSTRUMENT_ID }}</td>*@
                    <td>{{ x.MODULE }}</td>
                    <td>{{ x.BUSINESS_DATE }}</td>
                    <td>{{ x.BATCH_ID }}</td>
                    <td>&nbsp;{{ x.CHECK_NUMBER }}</td>
                    <td>{{ x.AMOUNT | number:2}}</td>
                    <td>&nbsp; {{ x.SCAN_ACCOUNT }}</td>
                    <td>&nbsp; {{ x.SCAN_BRSTN }}</td>
                    <td>{{ x.SCANNED_BY }}</td>
                    <td>&nbsp;{{ x.SCANNED_TIME }}</td>
                    <td>{{ x.AMOUNT_KEYING_USR }}</td>
                    <td>&nbsp;{{ x.AMOUNT_KEYING_TIME }}</td>
                    <td>{{ x.ACCOUNT_NO_KEYING_USR }}</td>
                    <td>&nbsp;{{ x.ACCOUNT_NO_KEYING_TIME }}</td>
                    <td>{{ x.PDC_VERIFICATION_USER }}</td>
                    <td>&nbsp;{{ x.PDC_VERIFICATION_TIME }}</td>
                    <td>{{ x.PDC_ALLOW_HOLD_USER }}</td>
                    <td>&nbsp;{{ x.PDC_ALLOW_HOLD_TIME }}</td>
                    <td>{{ x.BRANCH_NAME }}</td>
                </tr>
            </tbody>

            <tfoot id="tableFooter">
                <tr>
                    <td>TOTAL COUNT : </td>
                    <td colspan="3">{{ loansummaryDetails.length }}</td>
                    <td>TOTAL AMOUNT : </td>
                    <td colspan="3">{{ getTotal() | number:2 }}</td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<script src="~/ScriptsNg/Controller/Reference/outwardCheckSummary.js"></script>
